@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Math&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Inter'; 
  src: url("./assets/fonts/Inter_18pt-ExtraBold.ttf");
} */

:root {
  --font-inter: Libertinus Math, system-ui;
  --color-primary: linear-gradient(
    90deg,
    rgba(231, 112, 192, 1) 0%,
    rgba(231, 112, 192, 1) 48%,
    rgba(198, 112, 222, 1) 100%
  );
  --color-borderline: #315361;
  --color-danger: #f06473;
}

body {
  margin: 0;
  min-height: 100vh;
}
@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/digital-7.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/digital-7\ \(italic\).ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne-SemiBold.ttf') format('truetype');
  font-weight: 700;
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.float {
  animation: floatUpDown 5s ease-in-out infinite;
}
@keyframes floatup {
  0%{
    transform: translateY(200px);
  }
  50% {
    transform: translateY(0px);
  }
}

.floatss {
  animation: floatup 3s ease-in  ;
}